/* Website Under Construction */
/* HTML Template              */

@import 'reset';

// Variables
$contentBg: rgba(15, 30, 69,0.7);
$txt: #fffff0;
$accent: darken($txt, 50%);
body {
  font-size: 16px;
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  .html-mobile-background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 125%; /* To compensate for mobile browser address bar space */
    background: url(../img/bg.jpg) no-repeat;
    background-position: center;
    background-size: auto 100%;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    .flex-item {
      border-radius: 3px;
      margin: auto;
      width: 66%;
      max-width: 500px;
      height: 66vh;
    }
    .content {
      background-color: $contentBg;
      .vertical-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        .vert-item {
          padding: 0.5em;
          font-family: "Lucida Console","Lucida Sans Typewriter",monaco,"Bitstream Vera Sans Mono",monospace;
        }
      }
      h1 {
        margin: 0;
        font-size: 2.250em;
        text-align: center;
        color: $txt;
        line-height: 1.2;
      }
      h2 {
        color: $accent;
        font-size: 0.75em;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }
  }
}

hr.hrule {
  display: block;
  margin: 0 auto;
  width: 66%;
  min-width: 4em;
  border: 0;
  height: 2px;
  background-color: $accent;
}

@media (min-width: 600px) {
    html {
        background: url(../img/bg.jpg) no-repeat center center fixed;
        background-size: cover;
    }
    .html-mobile-background {
        display: none;
    }
}