/* Website Under Construction */
/* HTML Template              */
/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after { content: ''; content: none; }

q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

body { font-size: 16px; display: block; position: relative; width: 100vw; height: 100vh; background-image: url("../img/bg.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center center; }

body .html-mobile-background { position: fixed; z-index: -1; top: 0; left: 0; width: 100%; height: 125%; /* To compensate for mobile browser address bar space */ background: url(../img/bg.jpg) no-repeat; background-position: center; background-size: auto 100%; }

body .wrapper { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-align-content: center; -ms-flex-line-pack: center; align-content: center; width: 100%; height: 100%; }

body .wrapper .flex-item { border-radius: 3px; margin: auto; width: 66%; max-width: 500px; height: 66vh; }

body .wrapper .content { background-color: rgba(15, 30, 69, 0.7); }

body .wrapper .content .vertical-wrapper { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; width: 100%; height: 100%; }

body .wrapper .content .vertical-wrapper .vert-item { padding: 0.5em; font-family: "Lucida Console","Lucida Sans Typewriter",monaco,"Bitstream Vera Sans Mono",monospace; }

body .wrapper .content h1 { margin: 0; font-size: 2.250em; text-align: center; color: #fffff0; line-height: 1.2; }

body .wrapper .content h2 { color: #f0f000; font-size: 0.75em; text-align: center; text-transform: uppercase; letter-spacing: 2px; }

hr.hrule { display: block; margin: 0 auto; width: 66%; min-width: 4em; border: 0; height: 2px; background-color: #f0f000; }

@media (min-width: 600px) { html { background: url(../img/bg.jpg) no-repeat center center fixed; background-size: cover; }
  .html-mobile-background { display: none; } }

/*# sourceMappingURL=style.css.map */